<div id="dashboard-cards">
    <% if policy(User).new? %>
        <div data-controller="dashboard-card"
        data-text= "<% t('admin.dashboard.add_new_user').html_safe %>"
        data-link="/admin/users/new"
        data-icon="/assets/add-icon.svg">
        </div>
    <% end %>
    <% if policy(Property).new? %>
        <div data-controller="dashboard-card"
        data-text= "<%= t('admin.dashboard.add_new_property').html_safe %>"
        data-link="/admin/properties/new"
        data-icon="/assets/add-icon.svg">
        </div>
    <% end %>
</div>