<% if policy(User).new? %>
    <div class="dashboard-card">
        <p>Add a New User</p>
        <a href="/admin/users/new">
            <img src="/assets/add-icon.svg" alt="add-user" />
        </a>
    </div>
<% end %>