<div id="navbar-root">
    <navbar-component/>
</div>
<div id="hero-root">
    <hero-component props-json='<%= {cities: @cities}.to_json.html_safe %>'/>
</div>

<div id="feature-section-root">
    <feature-section-component props-json='<%= {properties: @properties}.to_json.html_safe %>'/>
</div>

<div id="advantage-section-root">
    <advantage-section-component/>
</div>
<div id="footer-root">
    <footer-component/>
</div>
<div id="copiryght-root">
    <copyright-component/>
</div>