<div id="hero-root">
    <hero-component props-json='<%= {mainText: I18n.t('hero.main_text'),
                                    subtitle: I18n.t('hero.subtitle'),
                                    searchButton: I18n.t('hero.search_button'),
                                    localisationIconAlt: I18n.t('hero.localisation_icon_alt'),
                                    cities: @cities}.to_json.html_safe %>'/>
</div>

<div id="feature-section-root">
    <feature-section-component props-json='<%= {ventes: @properties[:ventes], locations: @properties[:locations], translatedBedrooms: I18n.t('feature_card.bedrooms'), translatedBathrooms: I18n.t('feature_card.bathrooms'), buyLabel: I18n.t('feature_section.buy'), rentLabel: I18n.t('feature_section.rent'), seeMoreLabel: I18n.t('feature_section.see_more')}.to_json.html_safe %>'/>
</div>

<div id="advantage-section-root">
    <advantage-section-component/>
</div>
<div id="footer-root">
    <footer-component/>
</div>
<div id="copiryght-root">
    <copyright-component/>
</div>